html{
    background-color: rgb(30,33,36);
}

body{
    background-color: rgb(54,57,62);
    font-family: Verdana, sans-serif;
    font-size: 100%;
    text-align: center;
    width: 800px;
    margin: 10px auto;
    padding: 20px;
    border-radius: 1em;
}
/* texto do titulo no topo */
h1{
    color: whitesmoke;
}
/* Textos das questões */
h3.question{
    color: rgb(114,137,218);
    font-size: 2em;

}

.info{
    font-size: 1.5em;
}

/* botão de resposta */
.answer{
    background-color: rgb(46,49,54);
    color: whitesmoke;
    border-radius: 10px;
    padding: 1em;
    text-align: center;
    cursor: pointer;
    width: 60%;
    font-size: 1.5em;
    margin: 10px auto 0;
}
/* cor do botão quando o mouse passa sobre ele */
.answer:hover{
    background-color: cadetblue;
}
/* cor do botão quando selecionado */
.answer.selected{
    background-color: cadetblue;
}
/* botão do final 'enviar' */
.button{
    background-color: rgb(0,119,182);
    color: white;
    border-radius: 10px;
    padding: 10px 5px;
    text-align: center;
    cursor: pointer;
    font-size: 2em;
}
/* daqui até */
.mini.button{
    display:block;
    width: 30%;
}
.next{
    float: right;
}
.previous{
    float: left;
}
/* aqui são botões que eu posso implementar no futuro */
.button:hover{
    background-color: rgb(202,178,251);
}
.button-holder{
    width: 60%;
    padding: .5em 0;
    margin: .5em auto;
}
.clearfix::before
.clearfix::after {
    content: " ";
    display: table;
}

.clearfix::after {
    clear: both;
}
/* texto que aparece quando não se responde todas as questões */
.response p{
    margin: 50px auto;
    font-size: 3em;
    color: antiquewhite;
}