
body {
    background-color: blueviolet;
    width: 100%;
    margin: 10px auto;
    padding: 0;
    font-family: Arial, sans-serif;
    font-size: 100%;
    background-color: whitesmoke;
    }

header {
    margin-top: 35px;
    justify-content: space-between;
    align-items: center;
    
    }

.elementos  {
    list-style: none;
    justify-content: space-between;
    display: flex;
    align-items: center;        
    }
    /* .item1, .item2  {
        margin-right: 40px;
    } */
        
    
    .btn-round {
        width: 90px;
        height: 50px;
        border-radius: 6vh;
        background-color: black;
        color: white;
        border: none;
        font-size: 14px;
        font-weight: bold;
        cursor: pointer;
        margin-left: 10%;
        margin-right: 10px;
        margin-left: 25px;         
        }
        .login  {
            margin-left: 70%;
        }

        .login, .item1, .item2, .item3 {
            color: #0d0c22;
            font-weight: bold;
            font-size: 13.4px;
            
            
        }
        
        .login a, .btn-round a, .item1 a, .item2 a, .item3 a {
            text-decoration: none;
            color: inherit;
            transition: opacity 0.3s;
        }

        .login a:hover, .btn-round a:hover, .item1 a:hover, .item2 a:hover, .item3 a:hover {
            opacity: 0.7;
        }
        .btn-round a::before {
            content: ""; 
            position: absolute; 
            width: 10px; 
            height: 10px; 
            background-color: blue; 
            border-radius: 50%; 
            top: 50%; 
            left: -20px; 
            transform: translateY(-50%); 
            display: block;       
        }
        .corpo_do_textopart2{
            max-width: 100%;
            box-sizing: border-box;
            text-align: center;
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .fotodaagua   {
            box-sizing: border-box;
            text-align: center;
            max-width: 100%;
            height: auto;
            display: block;        
        }

        h1 {
            margin: 0;
            font-size: 1.813rem;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
        }        

        .texto_sobre_imagem {
            position: absolute; 
            top: 10%; 
            /* right: 20%;  */
            color: white;
            text-align: center;
            width: 100%;
            text-transform: uppercase;
            font-weight: 750;
            font-size: 5rem;
            text-shadow: 2px 2px 4px rgba(0,0,0,0.5); 
            z-index: 4; 
            font-family: sans-serif;
        }

        .texto_sobre_imagem2    {
            position: absolute; 
            color: white;
            top: 25%;
            /* right: 50%; */
            /* margin-left: 40%; */
            /* text-align: center; */
            text-shadow: 2px 2px 4px rgba(0,0,0,0.5); 
            z-index: 3; 
            font-family: sans-serif;
            box-sizing: inherit;
            /* display: block; */
            font-size: 1.1rem;
            line-height: 1.65em;
                
        }

        
        /* .texto_sobre_imagem, .texto_sobre_imagem2  {
            margin-top: 42%;
        } */
        
        .btn-primeiro {
            width: 250px;
            height: 40px;
            margin-top: -10%;
            border-radius: 10vh;    
            color: white;
            background-color: black;
            border: none;
            font-size: 14px;
            font-weight: bold;
            cursor: pointer;
            transition: background-color 0.2s ease;
            position: absolute;
            transform: translate(-50%);
            left: 50%;
        }

        .corpo_do_textopart1{
            text-align: center;
        }

        h2  {
            max-width: 870px;
            font-size: 72px;
            line-height: 76px;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            padding: 0;
            border: 0;
            text-align: center;
            margin-top: 1%;
            margin-left: 50%;
            left: 50%;
            transform: translate(-50%);
        }
        p1  {
            padding: 0;
            border: 0;
            text-align: right;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 20px;
        }
        .button2    {
            width: 120px;
            height: 50px;
            border-radius: 8vh;
            background-color: black;
            color: white;
            border: none;
            font-size: 14px;
            font-weight: bold;
            cursor: pointer;
            float: left;
            margin-left: -60%;
            margin-top: 10%;               
        }
        .btn-primeiro:hover {
            background-color: rgb(46,49,54);
        }

        .Explicação{
            background-color: rgb(142, 202, 230);
            align-items: center;
            justify-content: center;
        }


        p2  {
            margin: 12%;
            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
            color: #0d0c22;
            font-size: 30px;
            line-height: 6;
        }
    

        p3 {
            float: left;
            width: 30%;
            margin-left: 1%;
            padding: 0 25px;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
        }

        p4  {
            float: left;
            width: 30%;
            margin-right: 40%;
            margin-top: 1%;
            margin-left: 1%;
            padding: 0 25px;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
        }


        .imagem2 {
            float: right;
            width: 55%;
            max-width: 100%;
            height: auto;
            padding: 0 30px;
            margin-top: -35%;
        }


        .butaodoquiz    {
            margin-top: 12%;
            margin-left: 450px;
            height: auto;
            width: 400px;
            font-family:'Times New Roman', Times, serif;
            background-color: gray;
            cursor: pointer;
            border: none;
        }

        .butaodoquiz:hover  {
            background-color: rgb(46,49,54);
            opacity: 0.7;
        }
